.GestionarPQRS {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerposgestionarpqrs";
}

.menus {
    grid-area: menus;
}


.cuerposgestionarpqrs {
    grid-area: cuerposgestionarpqrs;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}

.titlegestionarpqrs {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.formgestionarpqrs {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 800px;
    color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
    /* Si hay mucho contenido, permitir scroll interno */

}

.solicitud-gestionarpqrs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Btngestionarpqrs {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Btngestionarpqrs button {
    background-color: #5E76FF;
    /* Azul-negro para botones */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
}

.Btngestionarpqrs button:hover {
    background-color: #1C285A;
    /* Azul-negro más oscuro en hover */
    transform: translateY(-2px);
}

