.GestionarPQRS {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
}

.menus {
    grid-area: menus;
}


.cuerposgestionarpqrs {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.fila-seleccionada {
    background-color: #5A93D9 !important;
    color: white !important;
    font-weight: bold;
}

.Btngestionarpqrs {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.Btngestionarpqrs button {
    background-color: #5E76FF;
    /* Azul-negro para botones */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
}

.Btngestionarpqrs button:hover {
    background-color: #1C285A;
    /* Azul-negro más oscuro en hover */
    transform: translateY(-2px);
}
.Btngestionarpqrs button:active {
    background-color: #1C285A;
    /* Cambiar a un azul más oscuro al presionar */
    transform: translateY(0);
    /* Reiniciar la posición al hacer clic */
}
