/* Steps.css */
.steps {
    padding: 4rem 1rem;
    text-align: center;
    background-color: #f3f6fa;
    color: #333;
    animation: fadeInUp 1.5s ease;
}

.steps h2{
    font-size: 2rem;
}

.step-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.step-card {
    width: 240px;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.step-card:hover {
    box-shadow: 0px 8px 20px rgba(0, 199, 255, 0.3);
    transform: translateY(-10px);
}
