.consultarPqrs {
    display: flex;
    height: 100vh;
 
}



.cuerpo {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}

.titleConsultar {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.busqueda {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.busqueda input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: box-shadow 0.3s; /* Añadido para el efecto de hover */
    margin-left: 10px;

}


.busqueda input:hover {
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Efecto de hover moderno */
}

.nota {
    display: flex;
    text-align: start;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}

.btn-descargar{
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;

}