.consultarPqrs {
    display: grid;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 0.4fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpo";
}

.menus {
    grid-area: menus;
}

.cuerpo {
    grid-area: cuerpo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}

.titleConsultar {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.formConsultar {
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 800px;
    color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
    /* Si hay mucho contenido, permitir scroll interno */

}

.consultar-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.busqueda {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

}


.busqueda label {
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
}

.busqueda input {
    width: 30%;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.nota {
    display: flex;
    text-align: start;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
}

.accion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "versoli eliminarsoli";
}

.versoli {
    grid-area: versoli;
    font-size: 20px;
    cursor: pointer;
}

.eliminarsoli {
    grid-area: eliminarsoli;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}

/* Para el contenedor de la tabla */
.dataTable-container {
    background-color: transparent !important;
    border: none;
    /* Si quieres que no haya borde */
}

/* Para las celdas de la tabla */
.dataTable-container .rdt_TableRow {
    background-color: #4A81D1 /*!important*/;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
}

/* Para la cabecera de la tabla */
.dataTable-container .rdt_TableHeadRow {
    background-color: #4A81D1 !important;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
}

/* Para las celdas de la cabecera */
.dataTable-container .rdt_TableCol {
    background-color: transparent !important;
    
}

/* Estilo para el contenedor principal del paginador */
.rdt_Pagination {
    background-color: transparent !important;
    border: none !important;
    
  }
  
  /* Estilo para los botones de paginación */
  .rdt_Pagination button {
    background-color: transparent !important;
    border: none !important;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
  }
  
  /* Estilo para el selector de filas por página y el input */
  .rdt_Pagination select, 
  .rdt_Pagination input {
    background-color: transparent !important;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
  }
  
  /* Estilo para el texto de paginación */
  .rdt_Pagination span {
    background-color: transparent !important;
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
  }
  
  /* Estilo para los elementos de la barra de navegación de la paginación */
  .rdt_Pagination-nav {
    background-color: transparent !important;
    border: none !important;
    
  }
  