.CrearDependencias{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    
}

.cuerpos-creardepe {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;

}

.title-creardepe {
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

.form-creardepe {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 600px;
    color: #000000;
    box-sizing: border-box;
    
}

.input-box-creardepe{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separar los elementos en la fila */
    margin-bottom: 20px;
    gap: 20px; /* Espacio entre los elementos */
    
    
}

.input-box-creardepe label {
    font-weight: 600;
    color: #000000;
    font-size: 14px;

}

.input-box-creardepe input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255);
    color: #000000;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.btnCreardepe{
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}
.btnCreardepe button{
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.btnCreardepe button:hover {
    background-color: #000000;
    color: #ffffff;
}

.btnCreardepe button:active {
    transform: translateY(0);
}