.CrearUsuario{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpos";
}

.menus {
    grid-area: menus;
    
}


.cuerpos {
    grid-area: cuerpos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}

.title {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.formUsuario {
    margin-top: 80vh;
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 600px;
    color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto; /* Si hay mucho contenido, permitir scroll interno */
}

.crearusu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-label-creausu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.input-label-creausu label {
    font-weight: 600;
    color: #CADAE5;
    font-size: 14px;
}

.input-label-creausu input, select{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}
.Buton-creausu{
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;

}
.Buton-creausu button{
    background-color: #5E76FF;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.Buton-creausu button:hover {
    background-color: #4753c8;
    transform: translateY(-2px);
}

.Buton-creausu button:active {
    transform: translateY(0);
}


