.CrearCategoria{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpos-crearcat";
}

.menus {
    grid-area: menus;
}


.cuerpos-crearcat {
    grid-area: cuerpos-crearcat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}

.title-crearcat {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.form-crearcat {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%; /* Cambiado a porcentaje para ser más flexible */
    max-width: 700px;
    color: #FFFFFF;
    box-sizing: border-box;
    
}


.input-box-crearcat{
    display: flex; /* Cambiar a flexbox */
    align-items: center; /* Alinear verticalmente */
    margin-bottom: 20px; /* Espacio entre los inputs */
    
}

.input-box-crearcat label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-right: 0.8rem; /* Espacio a la derecha de la etiqueta */
}

.input-box-crearcat input, select{
    border: none;
    color: #FFFFFF;
    font-size: 1rem; /* Cambiado a unidad relativa */
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Espaciado vertical */
    transition: border-color 0.3s ease;
}
.input-box-crearcat input, select{
    border-bottom: 2px solid #5E76FF; /* Cambiar el color de la línea al enfocar */
}
.btnCrearCate{
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 10px; /* Espacio superior para separación */
}
.btnCrearCate button{
    background-color: #FFA500; /* Color de fondo inicial (naranja) */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 6px 12px; /* Espaciado interno más pequeño */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    border-radius: 6px; /* Bordes redondeados más sutiles */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    width: 50%; /* Ancho relativo */
    font-size: 1rem; /* Cambiado a unidad relativa */
}

.btnCrearCate button:hover {
    background-color: #5E76FF; /* Cambiar a azul al pasar el mouse */
}

.btnCrearCate button:active {
    background-color: #4753c8; /* Cambiar a un azul más oscuro al presionar */
    transform: translateY(0); /* Reiniciar la posición al hacer clic */
}