.Dashboard {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.25fr 1.75fr; /* Ajuste del tamaño de las columnas */
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "menus cuerpos";
    position: relative; /* Para el canvas de fondo */
}

.cuerpos {
    grid-area: cuerpos;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    position: relative; /* Para que el contenido se superponga al fondo */
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

.dashform {
    width: 100%;
    padding: 30px;
}

.formdash {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s; /* Transición para el efecto hover */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de desplazamiento hacia arriba */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al hacer hover */
}

.card h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333; /* Color del título */
}

.pqrstotal {
    font-size: 2rem;
    color: #007bff; /* Color del total */
}

/* Asegúrate de que los gráficos también se vean bien en las cartas */
.card canvas {
    max-width: 100%;
    height: auto;
}
