.Dashboard {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    
}

.cuerpos-Dashboard {
    width: 80%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    margin-left: 30vh;
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

.dashform {
    width: 100%;
    padding: 30px;
    
}

.formdash {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
}

.card {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s; /* Transición para el efecto hover */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.card:hover {
    transform: translateY(-5px); /* Efecto de desplazamiento hacia arriba */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al hacer hover */
}

.card h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333; /* Color del título */
}

.pqrstotal {
    font-size: 2rem;
    color: #007bff; /* Color del total */
}

/* Asegúrate de que los gráficos también se vean bien en las cartas */
.card canvas {
    max-width: 100%;
    height: auto;
}
