.GestionUsuario{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpos";
}

.menus {
    grid-area: menus;
}


.cuerpos {
    grid-area: cuerpos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;

}
/* TablaUsuarios.css */

/* Estilos generales para el contenedor de la tabla */
.tabla-usuario {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título de la tabla */
.tabla-usuario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Estilos para el buscador */
.buscador-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.buscador {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: box-shadow 0.3s; /* Añadido para el efecto de hover */
}

.buscador:hover {
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Efecto de hover moderno */
}

.icono-busqueda {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Estilos para la tabla */
.tabla-minimalista-usuario {
    width: 100%;
    border-collapse: collapse;
}

.tabla-minimalista-usuario th, .tabla-minimalista-usuario td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo del contenido de la tabla */
.tabla-minimalista-usuario th {
    background-color: #f2f2f2;
}

.tabla-minimalista-usuario td {
    cursor: pointer; /* Cursor pointer en el contenido de las celdas */
}

/* No aplicar hover a las columnas */
.tabla-minimalista-usuario th:hover {
    background-color: #f2f2f2; /* Sin efecto hover para columnas */
}

/* Estilos para las filas de la tabla */
.tabla-minimalista-usuario tr:hover {
    background-color: #f9f9f9; /* Color de fondo al pasar el mouse sobre una fila */
}

/* Estilos para el estado del usuario */
.estado.activo {
    color: green;
}

.estado.inactivo {
    color: red;
}

/* Estilos para la paginación */
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginacion button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Añadido para efecto de hover */
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginacion button:hover:not(:disabled) {
    background-color: #357ab8;
    transform: translateY(-2px); /* Efecto de elevar el botón */
}
.activar{
    margin-right: 20px;
}