.GestionDependencia{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "menus cuerpos";
}

.menus {
    grid-area: menus;
}


.cuerpos {
    grid-area: cuerpos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.titlegestionDepe {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.formgestionDepe {
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 800px;
    color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
    /* Si hay mucho contenido, permitir scroll interno */

}

.gestionDepe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
