.GestionDependencia{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    
}



.cuerpos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}
