.GestionDependencia {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.cuerpos-GestionDependencia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
}

.tabla-dependencia {
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo de la tabla */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    color: #000000;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .tabla-dependencia {
        margin-left: 10vh;
        margin-top: 20px; /* Se agrega un margen superior adicional */
    }
}

@media (max-width: 768px) {
    .GestionDependencia {
        padding: 10px;
    }

    .tabla-dependencia {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .GestionDependencia {
        padding: 10px;
    }

    .tabla-dependencia {
        margin-left: 0;
        margin-top: 20px;
    }
}
