.EditarPerfil {
    width: 100%;
    height: 100vh;
    display: flex;
}

.cuerpo-editar {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    width: 100%;
    margin-top: 10vh;
}

.headers-editar{
    display: flex;
    justify-content: space-between;
}

.title-editar {
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

.form-editar {
    margin-top: 15vh;
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 600px;
    color: #000000;
    box-sizing: border-box;
    overflow: auto; /* Si hay mucho contenido, permitir scroll interno */
}

.solicitud-form-editar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box-editar{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-box-editar label {
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}

.input-box-editar input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}
.input-box-editar-A input{
    width: 88%;
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    margin-right: 8px;
}
.input-box-editar-A a{
    cursor: pointer;
    color: #000000;
}