.logo {
    background: transparent; /* Puedes ajustar el color o eliminarlo */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0 -70px; /* Padding: arriba, derecha-izquierda, abajo */
}

.logo-img {
    width: 35vh; /* Ajusta el tamaño del logo si es necesario */
    margin: 0 auto;
}
