@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}
.menus{
    z-index: 300;
    display: flex;
    
}
header{
    z-index: 200;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    position: fixed;
    top: 0;
    left: 0;
    
}

.left{
    width: 200px;
    height: 40px;
    
}
.Menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.Menus{    
    font-size: 30px;
    
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

.sideBar {
    display: flex;
    background-color: #fff;
    border-radius: 0 16px 16px 0;
    height: 100%;
    padding: 1.1rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 100;
    transition: width 0.3s ease;
}


.sideBar a{
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1.3rem 0.7rem;
    gap: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    
}
.sideBar li{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
    
}

.list__img{
    width: 1.8rem;
    display: block;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height 0.4s;
    height: 0;
}

.list__arrow {
    margin-left: auto;
    transition: transform 0.3s;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}
