.ResetPassword {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
}
.reset{
    margin-top: 50px;
    top: 30%;
    left: 30%;
    background-color: #f7faff;
    border-radius: 8px;
    width: 700px;

}

.reset h2{
    display: flex;
    justify-content: center;
}
.passwordReset {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.passwordReset input{
    width: 50%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 8px;
    font-size: 15px;
    background: #cadae5;
    margin-right: 10px;
}
.btnConfirPassw{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btnConfirPassw button{
    background-color: #FF851B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}