.ResetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}
.reset{
    background: rgba(255, 255, 255, 0.05); /* Fondo semi-transparente para más oscuridad */
    backdrop-filter: blur(12px); /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 15px;
    color: #E6E8EC; /* Texto blanco-gris para mayor contraste */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8); /* Sombras negras más intensas */
    width: 100%;
    max-width: 600px;
    margin: auto;

}

.reset h2{
    color: #FFFFFF; /* Azul muy claro para el título */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.passwordReset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.passwordReset label{
    font-weight: 600;
    color: #142B4C; /* Azul claro apagado para las etiquetas */
    font-size: 14px;
    margin-top: 10px;
}
.passwordReset input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1); /* Fondo más oscuro */
    color: #E0E0E0; /* Texto blanco-gris */
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.passwordReset input:focus {
    border: 1px solid #5A6DBF; /* Azul más oscuro en foco */
    box-shadow: 0 0 8px rgba(90, 109, 191, 0.5); /* Sombra azul suave */
}

.passwordReset input::placeholder{
    color: #9FA6B2; /* Placeholder gris claro */
    opacity: 0.8;
}


.btnConfirPassw{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: center;
}

.btnConfirPassw button{
    background-color: #5E76FF   ; /* Azul-negro para botones */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;

    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btnConfirPassw button:hover {
    background-color: #1C285A; /* Azul-negro más oscuro en hover */
    transform: translateY(-2px);
}

.btnConfirPassw button:active {
    transform: translateY(0);
}