.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.profile-picture {
  background-color: transparent;
  border-radius: 20%;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 5px;
  font-size: 50px;
  color: #000000;
}
@media (max-width: 1366px) and (max-height: 768px) {
  .profile-picture {
    font-size: 30px;
    color: #000000;
  }
}

@media (max-width: 768px) {
.profile-picture{
  font-size: 4vh;
  margin-right: 0px;
}
}